<h1>Item: <%= @selected_item.item.upcase %></h1>
  <h3>Posted at:<%= @selected_item.created_at%></h3>
   
   <table>
    <thead>
      <tr>
        <th>Item ID</th>
        <th>Item</th>
        <th>Description</th>
        <th>Price</th>
        <th>Contact Email</th>
         

      </tr> 
    </thead>
    <tbody> 
    
        <tr>
      
          <td><%= @selected_item.id%></td>
          <td><%= @selected_item.item %></td>
          <td><%= @selected_item.description %></td>
          <td>$<%= @selected_item.price %>.00</td>
          <td><%= @selected_item.email %></td>
        </tr>
       

    </tbody>
  
   </table>
##############STILL NEED A DESTROY PAGE################
   <form action ='/destroy' method = 'post'>
     <input type = 'submit' value = 'Delete Post'>
   </form>
